body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
line-height: 1.7;
}


h1, h2, h3 {
color: #1f4e79; /* tennis blue */
}


.page-content {
max-width: 900px;
}


.post-content ul {
margin-left: 1.2em;
}